<h2>Đăng Nhập</h2>
<h1>@ViewBag.ThongBao</h1>
@using (Html.BeginForm())
{
    @Html.TextBox("txtusername");
    <br />
    <input name="txtMatKhau" type="password" />
    <input type="submit" id="btnSubmit" name="btnSubmit" />
}