@using Project.Help
@model Project.Models.category
@*model Project.Models.category*@

@{
    ViewBag.Title = "Danh Sách Sản Phẩm";
    Layout = "~/Areas/quantri/Views/Shared/_LayoutAdmin.cshtml";
}

@section _Header{
    <link href="~/Areas/quantri/Content/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/quantri/Content/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet" />
}

<style>
    th, td {
        text-align: center;
    }

        td p {
            height: 50px;
            overflow-y: hidden;
            text-overflow: ellipsis;
        }
</style>
<div class="row">
    <div class="col-lg-12">
        <!--<div class="panel panel-default" style="border:1px solid deeppink;">  -->
        <div class="panel panel-red">
            <div class="panel-heading" style="background-color:deeppink;">
                Danh sách Products
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="bs-example" style="text-align:right ; padding-bottom:10px;">
                    <div class="btn-group">
                        @Html.DropDownListFor(model => model.id, (SelectList)ViewBag.category, "----Tat Ca San Pham------",
                                                                          new { @class = "form-control", @id = "category" })
                    </div>
                    <div class="btn-group" style="margin-top:10px;">
                        <a href="/quantri/product/Create" style="color:white;font-size:17px">
                            <p style="background-color:deeppink; float:right; background-color:deeppink;height:30px;width:130px;text-align:center;padding-top:3px;">
                                Create New
                            </p>
                        </a>
                    </div>
                </div>
                <div id="getProduct"></div>

            </div>
        </div>
    </div>
</div>
@section _Footer
{
<script>
        $(document).ready(function () {
            function getProduct() {
                var categoryId = $('#category').val();
                $.ajax({
                    url: '@Url.Action("getProduct" , "product")',
                    type: "GET",
                    data: { id: categoryId },
                    success: function (data) {
                        $('#getProduct').html(data);
                    },
                    error: function (data) {
                        alert("loi");
                    }
                });
            }
            getProduct();
            $('#category').change(function () {
                getProduct();
            })
        });
</script>

}


