
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-m-on">
        <!---->
        <div class="in-line">
            <div class="para-all-in">
                <h3>@Model.name</h3>
            </div>
            <div class="lady-on">
                @Html.Action("getProduct", "Default", new { id = Model.id })
            </div>
        </div>
    </div>
</div>

