@model Project.Models.product

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="column_center">
    <div class="container">
        <div class="search">
            <div class="stay">Search Product</div>
            <div class="stay_right">
                <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                <input type="submit" value="">
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="main">
    <div class="content_top">
        <div class="container">
            <div class="col-md-3 sidebar_box">
                <div class="sidebar">
                    <div class="menu_box">
                        <h3 class="menu_head">Products Menu</h3>
                        @{ Html.RenderAction("Menu", "Home"); }
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            var menu_ul = $('.menu > li > ul'),
                                menu_a = $('.menu > li > a');
                            menu_ul.hide();
                            menu_a.click(function (e) {
                                e.preventDefault();
                                if (!$(this).hasClass('active')) {
                                    menu_a.removeClass('active');
                                    menu_ul.filter(':visible').slideUp('normal');
                                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                                } else {
                                    $(this).removeClass('active');
                                    $(this).next().stop(true, true).slideUp('normal');
                                }
                            });

                        });
                    </script>
                </div>
                <div class="delivery">
                    <img src="~/images/delivery.jpg" class="img-responsive" alt="" />
                    <h3>Delivering</h3>
                    <h4>World Wide</h4>
                </div>
                <div class="twitter">
                    <h3>Latest From Twitter</h3>
                    <ul class="twt1">
                        <i class="twt"> </i>
                        <li class="twt1_desc"><span class="m_1">Contrary</span> to popular belief, Lorem Ipsum is<span class="m_1"> not simply</span></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <ul class="twt1">
                        <i class="twt"> </i>
                        <li class="twt1_desc"><span class="m_1">There are many</span> variations of passages of Lorem Ipsum available, but the majority <span class="m_1">have suffered</span></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <ul class="twt1">
                        <i class="twt"> </i>
                        <li class="twt1_desc"><span class="m_1">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has <span class="m_1">been the industry's standard dummy text ever</span></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
                <div class="clients">
                    <h3>Our Happy Clients</h3>
                    <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</h4>
                    <ul class="user">
                        <i class="user_icon"></i>
                        <li class="user_desc"><a href="#"><p>John Doe, Company Info</p></a></li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 single_right">
                <div class="single_top">
                    <div class="single_grid">
                        <div class="grid images_3_of_2">
                            <ul id="etalage">
                                <li>
                                    <a href="optionallink.html">

                                        <!-- ảnh -->

                                        <img class="etalage_thumb_image" src="~/images/@Model.img" class="img-responsive" />
                                        <img class="etalage_source_image" src="~/images/@Model.img" class="img-responsive" title="" />
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="desc1 span_3_of_2">
                            <h1> @Model.name</h1>
                            <p class="availability">Availability: <span class="color">In stock</span></p>
                            <div class="price_single">
                                <span class="reducedfrom">50.000<small> VND</small></span>
                                <span class="actual">@Model.price<small> VND</small></span><a href="#">click for offer</a>
                            </div>
                            <h2 class="quick">Quick Overview:</h2>
                            <p class="quick_desc">Nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>
                            <div class="wish-list">
                                <ul>
                                    <li class="wish"><a href="#">Add to Wishlist</a></li>
                                    <li class="compare"><a href="#">Add to Compare</a></li>
                                </ul>
                            </div>
                            <ul class="size">
                                <h3>Length</h3>
                                <li><a href="#">32</a></li>
                                <li><a href="#">34</a></li>
                            </ul>
                            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaSP = Model.id, @strURL = Request.Url.ToString() }))
    {
                        <input type="submit" value="BUY" style="width:50px;height:50px;background-color:aqua;padding-right:54px;margin-top:30px;color:black; " id="btnGioHang" class="btn btn-primary" />

}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="sap_tabs">
                    <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                        <ul class="resp-tabs-list">
                            <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Product Description</span></li>
                            <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Additional Information</span></li>
                            <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Reviews</span></li>
                            <div class="clear"></div>
                        </ul>
                        <div class="resp-tabs-container">
                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                <div class="facts">
                                    <ul class="tab_list">
                                        <li><a href="#">@Model.description</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fb-like" data-href="https://www.facebook.com/HP.Gaming358/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                <div class="fb-comments" data-href="http://localhost:62394/Home/ProductDetail" data-width="850px" data-numposts="5"></div>
                <h3 class="single_head">Related Products</h3>
                <div class="related_products">
                    <div class="col-md-4 top_grid1-box1 top_grid2-box2">
                        <a href="single.html">
                            <div class="grid_1">
                                <div class="b-link-stroke b-animate-go  thickbox">
                                    <img src="~/images/p12.jpg" class="img-responsive" alt="" />
                                </div>
                                <div class="grid_2">
                                    <p>There are many variations of passages</p>
                                    <ul class="grid_2-bottom">
                                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                                        <li class="grid_2-right"><a href="single.html" title="Get It" class="btn btn-primary btn-normal btn-inline " target="_self">Get It</a></li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 top_grid1-box1">
                        <a href="single.html">
                            <div class="grid_1">
                                <div class="b-link-stroke b-animate-go  thickbox">
                                    <img src="~/images/p13.jpg" class="img-responsive" alt="" />
                                </div>
                                <div class="grid_2">
                                    <p>There are many variations of passages</p>
                                    <ul class="grid_2-bottom">
                                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                                        <li class="grid_2-right"><a href="single.html" title="Get It" class="btn btn-primary btn-normal btn-inline " target="_self">Get It</a></li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 top_grid1-box1">
                        <a href="single.html">
                            <div class="grid_1">
                                <div class="b-link-stroke b-animate-go  thickbox">
                                    <img src="~/images/p14.jpg" class="img-responsive" alt="" />
                                </div>
                                <div class="grid_2">
                                    <p>There are many variations of passages</p>
                                    <ul class="grid_2-bottom">
                                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                                        <li class="grid_2-right"><a href="single.html" title="Get It" class="btn btn-primary btn-normal btn-inline " target="_self">Get It</a></li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="top_grid2">
                    <div class="col-md-4 top_grid1-box1 top_grid2-box2">
                        <a href="single.html">
                            <div class="grid_1">
                                <div class="b-link-stroke b-animate-go  thickbox">
                                    <img src="~/images/p9.jpg" class="img-responsive" alt="" />
                                </div>
                                <div class="grid_2">
                                    <p>There are many variations of passages</p>
                                    <ul class="grid_2-bottom">
                                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                                        <li class="grid_2-right"><a href="single.html" title="Get It" class="btn btn-primary btn-normal btn-inline " target="_self">Get It</a></li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 top_grid1-box1">
                        <a href="single.html">
                            <div class="grid_1">
                                <div class="b-link-stroke b-animate-go  thickbox">
                                    <img src="~/images/p10.jpg" class="img-responsive" alt="" />
                                </div>
                                <div class="grid_2">
                                    <p>There are many variations of passages</p>
                                    <ul class="grid_2-bottom">
                                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                                        <li class="grid_2-right"><a href="single.html" title="Get It" class="btn btn-primary btn-normal btn-inline " target="_self">Get It</a></li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 top_grid1-box1">
                        <a href="single.html">
                            <div class="grid_1">
                                <div class="b-link-stroke b-animate-go  thickbox">
                                    <img src="~/images/p11.jpg" class="img-responsive" alt="" />
                                </div>
                                <div class="grid_2">
                                    <p>There are many variations of passages</p>
                                    <ul class="grid_2-bottom">
                                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                                        <li class="grid_2-right"><a href="single.html" title="Get It" class="btn btn-primary btn-normal btn-inline " target="_self">Get It</a></li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
