@model List<Project.Models.product>
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="column_center">
    <div class="container">
        <div class="search">
            <div class="stay">Search Product</div>
            <div class="stay_right">
                <input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                <input type="submit" value="">
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="main">
    <div class="content_top">
        <div class="container">
            <div class="col-md-3 sidebar_box">
                <div class="sidebar">
                    <div class="menu_box">
                        <h3 class="menu_head">Products Menu</h3>
                        @{ Html.RenderAction("Menu", "Home"); }
                    </div>
                        <script type="text/javascript">
                            $(function () {
                                var menu_ul = $('.menu > li > ul'),
                                    menu_a = $('.menu > li > a');
                                menu_ul.hide();
                                menu_a.click(function (e) {
                                    e.preventDefault();
                                    if (!$(this).hasClass('active')) {
                                        menu_a.removeClass('active');
                                        menu_ul.filter(':visible').slideUp('normal');
                                        $(this).addClass('active').next().stop(true, true).slideDown('normal');
                                    } else {
                                        $(this).removeClass('active');
                                        $(this).next().stop(true, true).slideUp('normal');
                                    }
                                });

                            });
                        </script>
                    </div>
                    <div class="delivery">
                        <img src="~/images/delivery.jpg" class="img-responsive" alt="" />
                        <h3>Delivering</h3>
                        <h4>World Wide</h4>
                    </div>
                    <div class="twitter">
                        <h3>Latest From Twitter</h3>
                        <ul class="twt1">
                            <i class="twt"> </i>
                            <li class="twt1_desc"><span class="m_1">Contrary</span> to popular belief, Lorem Ipsum is<span class="m_1"> not simply</span></li>
                            <div class="clearfix"> </div>
                        </ul>
                        <ul class="twt1">
                            <i class="twt"> </i>
                            <li class="twt1_desc"><span class="m_1">There are many</span> variations of passages of Lorem Ipsum available, but the majority <span class="m_1">have suffered</span></li>
                            <div class="clearfix"> </div>
                        </ul>
                        <ul class="twt1">
                            <i class="twt"> </i>
                            <li class="twt1_desc"><span class="m_1">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has <span class="m_1">been the industry's standard dummy text ever</span></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="clients">
                        <h3>Our Happy Clients</h3>
                        <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</h4>
                        <ul class="user">
                            <i class="user_icon"></i>
                            <li class="user_desc"><a href="#"><p>John Doe, Company Info</p></a></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                </div>
            <div class="col-md-9 single_right">

                <!--djsakdbsjakdbjksabdkjsabdkjsbj-->
                @{ Html.RenderAction("ProductDetail", "Home"); }

                <h3 class="single_head">Related Products</h3>
                <div class="related_products">
                    <div class="col-md-4 top_grid1-box1 top_grid2-box2">
                        <a href="single.html">
                            <div class="grid_1">
                                <div class="b-link-stroke b-animate-go  thickbox">
                                    <img src="~/images/p12.jpg" class="img-responsive" alt="" />
                                </div>
                                <div class="grid_2">
                                    <p>There are many variations of passages</p>
                                    <ul class="grid_2-bottom">
                                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                                        <li class="grid_2-right"><a href="single.html" title="Get It" class="btn btn-primary btn-normal btn-inline " target="_self">Get It</a></li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 top_grid1-box1">
                        <a href="single.html">
                            <div class="grid_1">
                                <div class="b-link-stroke b-animate-go  thickbox">
                                    <img src="~/images/p13.jpg" class="img-responsive" alt="" />
                                </div>
                                <div class="grid_2">
                                    <p>There are many variations of passages</p>
                                    <ul class="grid_2-bottom">
                                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                                        <li class="grid_2-right"><a href="single.html" title="Get It" class="btn btn-primary btn-normal btn-inline " target="_self">Get It</a></li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 top_grid1-box1">
                        <a href="single.html">
                            <div class="grid_1">
                                <div class="b-link-stroke b-animate-go  thickbox">
                                    <img src="~/images/p14.jpg" class="img-responsive" alt="" />
                                </div>
                                <div class="grid_2">
                                    <p>There are many variations of passages</p>
                                    <ul class="grid_2-bottom">
                                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                                        <li class="grid_2-right"><a href="single.html" title="Get It" class="btn btn-primary btn-normal btn-inline " target="_self">Get It</a></li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="top_grid2">
                    <div class="col-md-4 top_grid1-box1 top_grid2-box2">
                        <a href="single.html">
                            <div class="grid_1">
                                <div class="b-link-stroke b-animate-go  thickbox">
                                    <img src="~/images/p9.jpg" class="img-responsive" alt="" />
                                </div>
                                <div class="grid_2">
                                    <p>There are many variations of passages</p>
                                    <ul class="grid_2-bottom">
                                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                                        <li class="grid_2-right"><a href="single.html" title="Get It" class="btn btn-primary btn-normal btn-inline " target="_self">Get It</a></li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 top_grid1-box1">
                        <a href="single.html">
                            <div class="grid_1">
                                <div class="b-link-stroke b-animate-go  thickbox">
                                    <img src="~/images/p10.jpg" class="img-responsive" alt="" />
                                </div>
                                <div class="grid_2">
                                    <p>There are many variations of passages</p>
                                    <ul class="grid_2-bottom">
                                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                                        <li class="grid_2-right"><a href="single.html" title="Get It" class="btn btn-primary btn-normal btn-inline " target="_self">Get It</a></li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 top_grid1-box1">
                        <a href="single.html">
                            <div class="grid_1">
                                <div class="b-link-stroke b-animate-go  thickbox">
                                    <img src="~/images/p11.jpg" class="img-responsive" alt="" />
                                </div>
                                <div class="grid_2">
                                    <p>There are many variations of passages</p>
                                    <ul class="grid_2-bottom">
                                        <li class="grid_2-left"><p>$99<small>.33</small></p></li>
                                        <li class="grid_2-right"><a href="single.html" title="Get It" class="btn btn-primary btn-normal btn-inline " target="_self">Get It</a></li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
